:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  color: var(--very-dark-blue);
}

body::after {
  background-color: var(--light-grayish-blue);
  content: " ";
  position: absolute;
  border-radius: 0 0 0 10rem;
  top: 0;
  right: 0;
  height: 50vh;
  width: 55vw;
  z-index: -1;
}

.container {
  padding: 2.5rem 2rem;
  overflow-x: hidden;
}

.logo {
  cursor: pointer;
}

.menu--mobile {
  cursor: pointer;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav--mobile {
  display: block;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: absolute;
  top: 7rem;
  left: 2rem;
  width: calc(100% - 4rem);
  z-index: 1;
}

.nav--mobile .main-nav {
  list-style: none;
  text-align: center;
}

.nav--mobile .main-nav li {
  margin: 1.2rem 0;
  color: var(--very-dark-blue);
}

.nav--mobile .main-nav li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
  cursor: pointer;
}

.nav--mobile .main-nav li.login {
  padding: 1.5rem 0;
  margin: 0 1.5rem;
  position: relative;
}

.nav--mobile .main-nav li.login::before {
  background-color: var(--grayish-blue);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -1px);
  opacity: 0.6;
  height: 1px;
  width: 100%;
}

.nav--mobile .main-nav li.login a {
  color: var(--grayish-blue);
}

.nav--mobile .main-nav li a:hover {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.nav--mobile .main-nav li.login a:hover {
  border-bottom: 1px solid var(--grayish-blue);
}

h1,
h3,
button,
nav a {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
